.certifications-section {
  padding: 0 10px;
  text-align: center;
}
.certifications-header {
  font-family: var(--font-base);
  font-size: 35px;
  color: var(--color4);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 30px;
  box-shadow: 0 0 180px 1px var(--color1);
  border-radius: 10px;
  display: inline-block;
}
.certs-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: stretch;
}

.cert-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    var(--color1-opacity-6),
    var(--color5-opacity-6)
  );
  box-shadow: 0 6px 18px rgba(9, 30, 66, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: var(--color5-opacity-15);
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid var(--color5);
  text-align: left;
  flex-direction: column;
}
.cert-card:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.2, 0.9, 0.2, 1);
  box-shadow: 0 22px 48px rgba(9, 30, 66, 0.12);
}
.cert-card-left {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
}
.cert-icon {
  background: var(--color2);
  color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.35rem;
}
.cert-meta .cert-title {
  margin: 0;
  font-size: 1.05rem;
  color: var(--color4);
}
.cert-issuer {
  font-weight: 300;
  color: var(--color4);
}
.cert-card-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.cert-desc {
  color: var(--color4);
  font-weight: 300;
  text-align: left;
}
.cert-links {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
}
.cert-links a {
  background: var(--color5);
  color: var(--color3);
  padding: 0.45rem 0.85rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  order: 1;
}
.credential-id {
  font-size: 0.85rem;
  opacity: 0.75;
  order: 0;
  color: var(--color4);
}

.cert-issuer {
  font-size: 0.9rem;
  opacity: 0.85;
}

@media (max-width: 860px) {
  .cert-card {
    flex-direction: column;
  }
  .cert-card-left {
    flex: none;
    align-items: flex-start;
  }
  .cert-card-right {
    align-items: flex-start;
  }
  .cert-links a {
    order: 0;
  }
  .credential-id {
    order: 1;
  }
}

@media (max-width: 500px) {
  .certs-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: stretch;
  }
}
