.experience-section {
  padding: 0 10px;
  text-align: center;
}
.experience-header {
  font-family: var(--font-base);
  font-size: 35px;
  color: var(--color4);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 30px;
  box-shadow: 0 0 180px 1px var(--color1);
  border-radius: 10px;
  display: inline-block;
}

.experience-timeline {
  max-width: 100%;
}
.exp-position {
  margin: 0 !important;
  font-size: 1.15rem;
  color: var(--color4);
}
.exp-company {
  font-weight: 300;
  color: var(--color4) !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.exp-company a {
  color: var(--color4) !important;
  text-decoration: none;
}
.exp-company a:hover {
  text-decoration: underline;
}
.exp-location {
  font-weight: 400;
  opacity: 0.85;
}
.exp-desc {
  font-weight: 300;
  color: var(--color4);
}

@media (max-width: 760px) {
  .experience-timeline .vertical-timeline-element-content {
    border-radius: 12px;
  }
}
