.education-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;
  padding: 0;
}

.education-header {
  font-family: var(--font-base);
  font-size: 35px;
  color: var(--color4);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 30px;
  box-shadow: 0 0 180px 1px var(--color1);
  border-radius: 10px;
}

.educations {
  width: 100%;
  color: white;
  overflow-x: hidden;
  padding: 0 10px;
  border-radius: 5px;
}

.vertical-timeline {
  width: 100% !important;
  max-width: 100% !important;
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: visible !important;
}

.vertical-timeline::before {
  background: var(--color2) !important;
}

.vertical-timeline-element-subtitle {
  margin: 5px 0;
}

.h-3 {
  font-size: 20px;
}

.h-4 {
  font-size: 17px;
  font-weight: 400 !important;
  opacity: 0.85;
  margin-top: 0 !important;
}

.exp-desc {
  font-weight: 500 !important;
}

.vertical-timeline-element-content {
  box-shadow: none !important;
}

.vertical-timeline-element:nth-of-type(even)
  .vertical-timeline-element-content-arrow {
  border-right-color: var(--color1) !important;
}

/* Odd elements */
.vertical-timeline-element:nth-of-type(odd)
  .vertical-timeline-element-content-arrow {
  border-right-color: var(--color5) !important;
}

@media screen and (max-width: 1169px) {
  /* Odd elements */
  .vertical-timeline-element:nth-of-type(odd)
    .vertical-timeline-element-content-arrow {
    border-right-color: var(--color1) !important;
  }
}

.vertical-timeline-element-date {
  padding: 5px 20px !important;
  color: var(--color3);
  background: var(--color1);
  border-radius: 5px;
  margin-top: 10px !important;
  width: fit-content !important;
  white-space: nowrap !important;
}
